@import '~antd/dist/antd.css';
@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Regular.woff2') format('woff2'),
       url('./fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
};

body { 
  font-family: 'Inter', Arial, sans-serif;
  font-size: 12px;
  line-height: 22px;
}


img {
  max-width:100%;
  max-height:100%;
  }

.main {
  width: 1300px;
  margin: 0 auto;
  padding-top: 85px;
}

.films {
  display: flex;
  margin-top: 35px;
  justify-content: center;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 12px;
  line-height: 22px;
  color: #000000;
}

.film-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.film-list__item {
  margin-bottom: 35px;
}

.film-card {
  width: 600px;
  height: 280px;
  box-sizing: border-box;
  display: flex;
  box-sizing: border-box;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}


.film-card__info-container {
  padding: 10px 0 0 20px;
  width: 400px;
}

.film-card__info-container-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.film-card__title {
  width: 300px;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 28px;
  
}

.film-card__rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  font-size: 16px;
  border: 3px solid #000000;
  border-radius: 50%;
}

.film-card__rating--law {
  border-color: #E90000;
}

.film-card__rating--middle {
  border-color: #E97E00;
}

.film-card__rating--high {
  border-color: #E9D100;
}

.film-card__rating--top {
  border-color:#66E900;
}


.film-card__release {
  color: #827E7E;
}

.film-card__description {
  margin: 0;
  padding: 0;
}

.ant-alert-info {
  width: 500px;
  text-align: center;
}

.ant-alert-message {
  font-size: 30px;
  font-style: italic;
}

.ant-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}

.ant-spin-lg .ant-spin-dot {
  font-size: 100px;
}

.ant-spin-text {
  margin-top: 20px;
}

.ant-input {
  font-size: 20px;
}

.ant-pagination {
  display: flex;
  justify-content: center;
}




